@media (min-width: 1400px) {
	.schedule-panel {
		width: 475px;
	}

	.servants {
		font-size: 19.2px;
	}

	.servants hr {
		margin: auto 458px;
		width: 455px;
	}

	.info-loc hr {
		margin: 5px 90px;
	}

	.info-sess hr {
		margin: 0 90px;
	}

	.social-medias {
		margin: 6px 0px;
		width: 350px;
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.servants {
		font-size: 19.2px;
	}

	.servants hr {
		width: 455px
	}

	.schedule-panel .schedule {
		padding-left: 5px;
		right: -320px;
		position: relative;
	}

	.schedule-panel .daytime {
		font-size: 22.5px;
		padding-right: 5px;
		left: -320px;
		position: relative;
	}

	.date-value {
		font-size: 20px;
		margin: auto 35px;
		vertical-align: 0px;
	}

	.schedule-panel {
		width: 70rem;
	}

	.bullet {
		font-size: 1rem;
	}

	.address p {
		font-size: 12.5px;
	}

	.locale {
		font-size: 18.5px;
	}

	.locale-name {
		font-size: 22.5px;
	}

	.social-medias {
		margin: 6px 0px;
		width: 330px;
	}

	.youtube {
		font-size: 12px;
		padding-top: 3px;
	}

	.facebook {
		font-size: 12px;
		padding-right: 0;
		padding-top: 3px;
	}

	.via-text {
		font-size: 14px;
		padding: 2px;
	}

	.sessions {
		font-size: 13px;
		margin-top: 4px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.servants {
		font-size: 19.2px;
	}

	.servants hr {
		width: 455px;
	}

	.schedule-panel .schedule {
		padding-left: 200px;
	}

	.schedule-panel .daytime {
		font-size: 22.6px;
		padding-right: 200px;
	}

	.date-value {
		font-size: 18px;
		margin: auto 30px;
		vertical-align: -2px;
	}

	.schedule-panel {
		width: 55rem;
	}

	.bullet {
		font-size: 2rem;
	}

	.info-loc hr {
		margin: 5px 0px;
	}

	.servants hr {
		width: 455px;
	}

	.address p {
		font-size: 12.4px;
	}

	.locale {
		font-size: 18.5px;
	}

	.locale-name {
		font-size: 22.6px;
	}

	.info-sess hr {
		margin: 5px 0px;
	}

	.social-medias {
		width: 330px;
	}

	.youtube {
		font-size: 13px;
	}

	.facebook {
		font-size: 13px;
		padding-right: 0px;
	}

	.via-text {
		font-size: 14px;
		padding: 2px;
	}

	.sessions {
		font-size: 13px;
		margin-top: 3px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.invite-fnt {
		font-size: 14px !important;
		margin-bottom: 10px !important;
	}

	.times-font {
		font-size: 105px;
	}

	.arial-fnt {
		font-size: 42px;
	}

	.servants {
		font-size: 15px;
	}

	.servants hr {
		width: 355px;
	}

	.schedule-panel .schedule .small {
		vertical-align: 1px !important;
	}

	.schedule-panel .schedule {
		padding-left: 140px !important;
	}

	.schedule-panel .daytime {
		font-size: 17.3px;
		padding-right: 140px !important;
	}

	.date-value {
		font-size: 13px;
		margin: auto 30px;
		vertical-align: 0px;
	}

	.schedule-panel {
		width: 655px;
	}

	.bullet {
		font-size: 1rem;
	}

	.info-loc hr {
		width: 355px;
	}

	.address p {
		font-size: 9.5px;
	}

	.locale {
		font-size: 14px;
	}

	.locale-name {
		font-size: 17.3px;
	}

	.info-sess hr {
		width: 355px;
	}

	.social-medias {
		margin-top: 3px;
		width: 250px;
	}

	.youtube {
		font-size: 9px;
		padding-top: 6px;
	}

	.facebook {
		font-size: 9px;
		padding-top: 6px;
		padding-right: 5px;
	}

	.via-text {
		font-size: 10px;
		padding: 5px;
	}

	.sessions {
		font-size: 10px;
		margin-top: 6px;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.invite-fnt {
		font-size: 14px !important;
		margin-bottom: 10px !important;
	}

	.times-font {
		font-size: 90px;
	}

	.arial-fnt {
		font-size: 37px;
	}

	.servants {
		font-size: 13px;
	}

	.servants hr {
		width: 310px;
	}

	.schedule-panel .schedule .small {
		vertical-align: 1px !important;
	}

	.schedule-panel .schedule {
		padding-left: 3px !important;
	}

	.schedule-panel .daytime {
		font-size: 17px;
		padding-right: 3px !important;
	}

	.date-value {
		font-size: 12px;
		margin: auto 15px;
		vertical-align: 0px;
	}

	.schedule-panel {
		width: 335px;
	}

	.bullet {
		font-size: 1rem;
	}

	.info-loc hr {
		width: 310px;
	}

	.address p {
		font-size: 9.6px;
	}

	.locale {
		font-size: 14.5px;
	}

	.locale-name {
		font-size: 17px;
	}

	.info-sess hr {
		width: 310px;
	}

	.social-medias {
		width: 255px;
		margin-top: 2px;
	}

	.youtube {
		font-size: 9px;
		padding-top: 3px;
	}

	.facebook {
		font-size: 9px;
		padding-top: 3px;
		padding-right: 0px;
	}

	.via-text {
		font-size: 10px;
		padding-top: 3px;
	}

	.sessions {
		font-size: 10px;
		margin-top: 5px;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.invite-fnt {
		font-size: 12px !important;
		margin-bottom: 10px !important;
	}

	.times-font {
		font-size: 75px;
		margin-bottom: 5px !important;
	}

	.arial-fnt {
		font-size: 34px;
		margin-bottom: 5px !important;
	}

	.servants {
		font-size: 12px;
	}

	.servants hr {
		width: 285px;
	}

	.schedule-panel .schedule .small {
		vertical-align: 5px !important;
	}

	.schedule-panel .schedule {
		padding-left: 15px !important;
	}

	.schedule-panel .daytime {
		font-size: 13.8px;
		padding-right: 15px !important;
	}

	.date-value {
		font-size: 11px;
		margin: auto 20px;
		vertical-align: 0px;
	}

	.schedule-panel {
		width: 335px;
	}

	.bullet {
		font-size: 1rem;
	}

	.info-loc hr {
		width: 285px;
	}

	.address p {
		font-size: 7.7px;
	}

	.locale {
		font-size: 11px;
	}

	.locale-name {
		font-size: 14px;
	}

	.info-sess hr {
		width: 285px;
	}

	.social-medias {
		width: 205px;
		margin-top: 2px;
	}

	.youtube {
		font-size: 7px;
		padding-top: 5px;
	}

	.facebook {
		font-size: 7px;
		padding-top: 5px;
		padding-right: 0px;
	}

	.via-text {
		font-size: 8px;
		padding: 4px;
	}

	.sessions {
		font-size: 8px;
		margin-top: 3px;
	}
}

@media (min-width: 320px) and (max-width: 374px) {
	.invite-fnt {
		font-size: 10.6px !important;
		margin-bottom: 5px !important;
	}

	.times-font {
		font-size: 65px;
		line-height: 0.8;
		margin-bottom: 5px !important;
	}

	.arial-fnt {
		font-size: 28px;
		margin-bottom: 5px !important;
	}

	.servants {
		font-size: 10px;
	}

	.servants hr {
		width: 240px;
	}

	.schedule-panel .schedule .small {
		vertical-align: 7px !important;
	}

	.schedule-panel .schedule {
		padding-left: 16px !important;
	}

	.schedule-panel .daytime {
		font-size: 11.5px;
		padding-right: 16px !important;
	}

	.date-value {
		font-size: 10px;
		margin: auto 10px;
		vertical-align: 0px;
	}

	.schedule-panel {
		width: 290px;
	}

	.bullet {
		font-size: 1rem;
	}

	.info-loc hr {
		width: 240px;
		margin: 0;
	}

	.address p {
		font-size: 6.4px;
	}

	.locale {
		font-size: 9px;
	}

	.locale-name {
		font-size: 12px;
	}

	.info-sess hr {
		width: 240px;
		margin: 0;
	}

	.social-medias {
		width: 170px;
		margin-top: 2px;
	}

	.youtube {
		font-size: 5px;
		padding-top: 3px;
	}

	.facebook {
		font-size: 5px;
		padding-top: 3px;
		padding-right: 0px;
	}

	.via-text {
		font-size: 7px;
		padding-top: 1px;
	}

	.sessions {
		font-size: 6.7px;
		margin-top: 6px;
	}

	#session-day,
	#countdown {
		font-size: 11px;
	}
}